.detailsModalContainer{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 80vh;
}

.modal-details-body{
    text-align: start;
}

.form-body{
    display: flex;
    flex-direction: column;
}

.form-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}